.root {
    font-family: "Lexend";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 32px;
    width: 376px;
    color: #ffffff;
    background-color: #7101ff;
    padding: 16px 0;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        background-color: #7101ffe8;
    }
}
