.wrapper {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.pagination {
    display: flex;
    gap: 20px;
    align-self: center;
    align-items: center;
    list-style: none;
    cursor: pointer;

    a {
        font-family: "Nunito";
        font-weight: 500;
        font-size: 14px;
        line-height: 19.6px;

        padding: 5px 10px;
        border-radius: 6px;
        border: 1px solid #7101ff;
        color: #7101ff;

        &:hover {
            color: rgba(255, 255, 255, 1);
            background: #7101ff;
        }
    }

    &__link {
        font-weight: bold;

        &__active {
            a {
                color: rgba(255, 255, 255, 1);
                background: #7101ff;
            }
        }

        &__disabled {
            a {
                color: #9f9fb6;
                border: 1px solid #9f9fb6;

                &:hover {
                    color: #9f9fb6;
                    background-color: transparent;
                }
            }
        }
    }
}
