.links {
    font-family: "Lexend";
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    a {
        color: #505e68;
    }
}

.title {
    font-family: "Lexend";
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin-top: 44px;
}

.formContainer {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
