.wrapper {
    display: flex;
    align-self: flex-end;
    align-items: center;
    gap: 16px;
}

.search {
    display: flex;
    align-self: flex-end;
    align-items: center;
    gap: 16px;
}

.sort__title {
    font-family: "Nunito";
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #afb7d3;
}

.sort {
    [class$="-control"] {
        box-shadow: none;
        width: 140px;
        cursor: pointer;

        &::after {
            content: "";
            background: #e4e7ed;
            position: absolute;
            z-index: 3;
            left: 10px;
            bottom: -1px;
            height: 1px;
            width: 116px;
        }
    }

    [class$="-singleValue"] {
        font-family: "Nunito";
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;

        color: #3b4360;
    }

    [class$="-Input"] {
        font-family: "Nunito";
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;

        color: #3b4360;

        input {
            outline: none;
        }
    }

    [class$="-indicatorContainer"] {
        svg {
            fill: #3b4360;
        }
    }

    [class$="-option"] {
        font-family: "Nunito";
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        background-color: transparent;

        &:hover {
            background-color: transparent;
            color: #3b4360;
            cursor: pointer;
        }
        &:focus {
            background-color: transparent;
            color: #3b4360;
        }
    }

    [class$="-menu"] {
        box-shadow: none;
        margin: 0;
        width: 140px;
        transition: all 0.5s;
    }
}
