.root {
    margin-top: 32px;
    font-family: "Lexend";
    font-weight: 500;
    align-self: flex-start;
    display: flex;
    align-items: center;

    label {
        font-size: 14px;
        line-height: 20px;
        color: #505e68;
        margin-left: 16px;
    }

    input {
        width: 20px;
        height: 20px;
        color: #000000;
        background: #ffffff;
        border: 1px solid #cad2d6;
        border-radius: 2px;
        outline: none;
        cursor: pointer;
    }
}
