.login {
    font-family: "Lexend";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 32px;
    width: 376px;
    text-align: center;
    color: #ffffff;
    background-color: #7101ff;
    padding: 16px 0;
    cursor: pointer;
}

.title {
    font-family: "Lexend";
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin-top: 44px;
}

.description {
    margin-top: 32px;
    font-family: "Lexend";
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: #505e68;
    text-align: center;
}
