.button {
    background-color: #7101ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 16px 7px 16px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 13px;
        width: 13px;
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 6px;
        color: #ffffff;
        font-family: "Nunito";
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }

    &:hover {
        background-color: #7101ffe8;
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(0);
    }
}
