.root {
    margin-top: 32px;
    font-family: "Lexend";
    font-weight: 400;

    label {
        font-size: 14px;
        line-height: 24px;
        color: #505e68;
        display: block;
        margin-bottom: 4px;
    }

    input {
        font-size: 15px;
        line-height: 24px;
        width: 342px;
        color: #000000;
        background: #ffffff;
        border: 1px solid #505e68;
        padding: 12px 16px;

        &::placeholder {
            color: #909fa9;
        }
    }
}


