.wrapper {
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.error {
    &::before {
        content: "⚠ ";
    }

    color: #db4437;
    font-size: 14px;
    font-weight: 400;
    margin-left: 12px;
    margin-top: 10px;
}

.dropzone {
    width: 376px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e4e0ff;
        border-radius: 50%;
        height: 168px;
        width: 168px;
    }

    &__image {
        border-radius: 50%;
        height: 168px;
        width: 168px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #7101ff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__btn {
        background-color: #f3f5fa;
        color: #000000;
        padding: 11px 60px 11px 58px;
        cursor: pointer;
    }

    &__control {
        width: 176px;
        display: flex;
        flex-direction: column;

        p {
            margin-top: 8px;
            font-family: "Lexend";
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #505e68;
        }
        span {
            margin-top: 24px;
            font-family: "Lexend";
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #505e68;
        }
    }
}
