.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    &::before {
        content: "⚠ ";
    }

    color: #db4437;
    font-size: 14px;
    font-weight: 400;
    margin-left: 12px;
    margin-top: 10px;
}
