.item {
    padding: 16px 20px 16px 28px;
    display: flex;
    color: #ffffff;
    list-style: none;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    font-family: "Nunito";
    font-weight: 500;
    font-size: 14px;
    line-height: 19.6px;
    color: rgba(255, 255, 255, 0.8);
    border-left: 4px solid transparent;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: rgba(255, 255, 255, 1);
        fill: rgba(255, 255, 255, 1);
        background-color: #4b259b;
        border-left: 4px solid rgba(255, 255, 255, 1);
    }

    &__active {
        color: rgba(255, 255, 255, 1);
        fill: rgba(255, 255, 255, 1);
        background-color: #4b259b;
        border-left: 4px solid rgba(255, 255, 255, 1);
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 18px;
        width: 18px;
    }

    &__label {
        margin-left: 12px;
        font-family: "Nunito";
        font-weight: 500;
        font-size: 14px;
        line-height: 19.6px;
        color: rgba(255, 255, 255, 0.8);
    }
}
