.row {
    display: grid;
    padding-left: 7px;
    background-color: #ffffff;
    margin-top: 8px;
    align-items: center;
    border-radius: 6px;

    &__item {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: "Nunito";
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        padding: 8px 6px;

        // &:first-child {
        //     padding-left: 12px;
        //     border-left-style: solid;
        //     border-top-left-radius: 10px;
        //     border-bottom-left-radius: 10px;
        // }

        &__edit {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 16px 0px;
            padding-right: 18px;
            font-family: "Nunito";
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
        }
    }
}

.avatar {
    padding: 0;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 50%;
    background-color: #7101ff;
    color: #ffffff;
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    &__image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.edit__btn {
    color: transparent;
    background-color: transparent;
    width: 19px;
    height: 19px;
    padding: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(0);
    }

    svg {
        &:hover {
            path {
                fill: #7101ff;
            }
        }
    }
}
