.wrapper {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.modal {
    padding: 86px 110px;
    background: white;
    color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__title {
        font-family: Lexend;
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;
    }

    &__close {
        padding: 0;
        background-color: transparent;
        height: 20px;
        width: 20px;
        cursor: pointer;
        position: absolute;
        right: 24px;
        top: 24px;
    }
}
