.header {
    display: grid;
    margin-top: 20px;
    padding-left: 7px;
    padding-bottom: 9px;

    &__item {
        font-family: "Nunito";
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        color: #9f9fb6;
        padding: 0px 5px;

        // &:last-child {
        //     display: none;
        // }

        &__empty {
            pointer-events: none;
            opacity: 0;
        }
    }
}
