.content {
    padding: 20px 39px 0 39px;
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f0f2f5;
}
