.header {
    border-bottom: 1px solid rgba(222, 224, 229, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
        font-family: "Nunito";
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        color: rgba(17, 17, 18, 1);
    }
}

.logo__wrapper {
    padding: 15px 10px 15px 43px;
}

.user {
    padding: 15px 0px;

    margin-right: 39px;

    &__image {
        border-radius: 50%;
    }
}
