.sidebar {
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: sticky;
    background-color: #3f1e85;

    &__container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__logo {
        &__container {
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgba(255, 255, 255, 0.08);

            svg {
                padding: 14px 0 15px 31px;
            }
        }
    }

    &__items {
        height: 100%;
        width: 100%;
    }

    &__item {
        padding: 16px 20px 16px 28px;
        display: flex;
        color: #ffffff;
        list-style: none;
        text-decoration: none;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        font-family: "Nunito";
        font-weight: 500;
        font-size: 14px;
        line-height: 19.6px;
        color: rgba(255, 255, 255, 0.8);
        border-left: 4px solid transparent;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: rgba(255, 255, 255, 1);
            fill: rgba(255, 255, 255, 1);
            background-color: #4b259b;
            border-left: 4px solid rgba(255, 255, 255, 1);
        }

        &__primary {
            margin-top: 18px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.08);
            &:hover {
                cursor: auto;
                color: transparent;
                fill: transparent;
                background-color: transparent;
                border-left: 4px solid transparent;
            }
        }

        &__active {
            color: rgba(255, 255, 255, 1);
            fill: rgba(255, 255, 255, 1);
            background-color: #4b259b;
            border-left: 4px solid rgba(255, 255, 255, 1);
        }

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 18px;
            width: 18px;
        }

        &__label {
            margin-left: 12px;
            font-family: "Nunito";
            font-weight: 500;
            font-size: 14px;
            line-height: 19.6px;
            color: rgba(255, 255, 255, 0.8);
        }
    }

    &__footer {
        font-family: "Nunito";
        font-weight: 500;
        font-size: 14px;
        line-height: 19.6px;
        color: rgba(255, 255, 255, 0.8);
        padding: 16px 18px 16px 28px;
        border-left: 4px solid transparent;
        transition: all 0.2s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        background-color: transparent;
        margin-bottom: 20px;

        &:hover {
            color: rgba(255, 255, 255, 1);
            fill: rgba(255, 255, 255, 1);
            background-color: #4b259b;
            border-left: 4px solid rgba(255, 255, 255, 1);
        }
    }
}
