.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    flex-direction: column;
}

.formWrapper {
    background-color: #fff;

    border-radius: 10px;
    max-width: 376px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
