.cancel {
    font-family: "Lexend";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 376px;
    color: #2c343a;
    padding: 16px 0;
    cursor: pointer;
}

.title {
    font-family: "Lexend";
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin-top: 44px;
}

.description {
    margin-top: 32px;
    font-family: "Lexend";
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: #505e68;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    flex-direction: column;
}
