.root {
    background: #ffffff;
    padding: 9px 8px 9px 14px;
    border-radius: 6px;
    border: 1px solid #e4e7ed;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        margin-left: 10px;
        font-family: "Nunito";
        font-weight: 500;
        font-size: 12px;
        line-height: 16.8px;
        color: #000000;
        border: none;
        width: 182px;
        outline: none;
        caret-color: #7101ff;

        &::placeholder {
            color: #909fa9;
        }
    }
}
