.wrapper {
    padding: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav {
    display: flex;
    justify-content: center;
}

.button {
    cursor: pointer;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lexend";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #000000;
    background-color: transparent;

    &__icon {
        margin-right: 15px;
        transition: all 0.1s ease-in-out;
    }

    &:active {
        svg {
            transform: translateX(-5px);
        }
    }
}

.title {
    font-family: "Lexend";
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-align: start;
}

.info {
    padding: 0 50px;

    &__items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 376px;
    }
}

.sort {
    margin-top: 4px;
    &__label {
        margin-top: 32px;
        font-family: "Lexend";
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #505e68;
    }

    [class$="-control"] {
        border-radius: 0px;
        box-shadow: none;
        width: 376px;
        cursor: pointer;

        &::after {
            content: "";
            background: #505e684f;
            position: absolute;
            z-index: 1;
            left: 10px;
            bottom: -1px;
            height: 1px;
            width: 350px;
        }
    }

    [class$="-singleValue"] {
        font-family: "Lexend";
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;

        color: #000000;
    }

    [class$="-Input"] {
        font-family: "Lexend";
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;

        color: #000000 input {
            outline: none;
        }
    }

    [class$="-indicatorContainer"] {
        svg {
            fill: #000000;
        }
    }

    [class$="-option"] {
        font-family: "Lexend";
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        background-color: transparent;

        &:hover {
            background-color: transparent;
            color: #3b4360;
            cursor: pointer;
        }
        &:focus {
            background-color: transparent;
            color: #3b4360;
        }
    }

    [class$="-menu"] {
        z-index: 2;
        box-shadow: none;
        margin: 0px;
        width: 376px;
        transition: all 0.5s;
    }
}
